.header {
    text-align: center;
}

.option-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.option-container {
    margin: 8px 5px;
}

.option-container label {
    border: solid 1px #ddd;
    background-color: #eee;
    padding: 4px;
}

.option-container input[type=checkbox].hidden {
    opacity: 0;
    position: absolute;
}

.option-container input[type="checkbox"]:checked + label {
    background-color: rgb(73, 138, 96);
    color: #fff;
}

.option-container.class-container {
    flex: 0 0 20%;
} 

.level-container input {
    width: 50px;
}

.level-text {
    align-items: center;
}

hr.rounded {
    border-top: 3px solid #bbb;
    border-radius: 5px;
}