<html>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <script type="text/javascript" src="{{url_for('static', filename='logic.js')}}" defer></script>
    <title> Dndler </title>
  </head>

  <body>
    <!-- Link to Dndl -->
    <h3> <b> <a href={{ url_for('dndl') }}> Dndler </a> </b> </h3>

    <!-- Introduce Character Name, Race, Class, Level -->
    <article> <h1> <center> Hello, {{ character['name'] }}! </center> </h1> </article>
    <h3> You are a(n) <b>{{ character['race'] }} {{ character['class'] }} </b></h3>
    <p> You are Level {{ character['level'] }} </p>

    <!-- Print Backgrounds in Loop -->
    <p> Your Background: </p>
    <ul id="background">
      {% for key in character['background'] %}
        {% if key != '' %}
          <li> <b>{{ key }}</b>: {{ character['background'][key] }}
        {% endif %}
      {% endfor %}
    </ul>

    <!-- Print Stats -->
    <p> Your Stats: </p>
    <ul id="stats">
    {% for key in character['stats']['Total Stats'] %}
      <li> <b>{{ key }}</b>: {{ character['stats']['Total Stats'][key] }}
    {% endfor %}
    </ul>

    <!-- Print Modifiers -->
    <p> Your Modifiers: </p>
    <ul id="modifiers">
    {% for key in character['stats']['Modifiers'] %}
      <li> <b>{{ key }}</b>: {{ character['stats']['Modifiers'][key] }}
    {% endfor %}
    </ul>

    <!-- Print Proficiencies, Sublists for ST and Skills -->
    <p> Your Proficiencies: </p>
    <ul id="proficiencies">
    {% for key in character['proficiency'] %}
      {% if key in ['Saving Throws', 'Skills'] %}
        <li> <b>{{ key }}:</b>
        <ul id="sublist">
        {% for subkey in character['proficiency'][key] %}
          <li> <b>{{ subkey }}</b>: {{ character['proficiency'][key][subkey] }}
        {% endfor %}
        </ul>
      {% else %}
        <li> <b>{{ key }}</b>: {{ character['proficiency'][key] }}
      {% endif %}
    {% endfor %}
    </ul>

    <!-- Print Starting Equipment -->
    <p> Your Starting Equipment: </p>
    <ul id="equipment">
    {% for item in character['equipment'] %}
      <li> {{ item }}
    {% endfor %}
    </ul>

    <!-- Print Spells, Sublists for Spells by Spell Level -->
    {% if spellcasting_class in ['Artificer', 'Paladin', 'Ranger', 'Bard', 'Cleric', 'Druid', 'Sorcerer', 'Warlock', 'Wizard'] %}
      <p> <b> Spellcasting Ability: </b> {{ spellcasting_ability }} </p>
      <p> <b> Spell Save: </b> DC {{ spell_save_dc }} </p>
      <p> <b> Spell Attack Bonus: </b> +{{ spell_atk_bonus }} </p>
    {% endif %}

    {% if character['spells'] != {} %}
      <p> Your Spells: </p>
      <ul id="spell level">
      {% for key in character['spells'] %}
        {% if character['spells'][key] != [] %}
          <li> <b>{{ key }}:</b>
          <ul id="spells">
          {% for spell in character['spells'][key] %}
            <li> {{ spell }}
          {% endfor %}
          </ul>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}

    <!-- Print Sourcebooks -->
    <p> Sourcebooks: </p>
    <b> Race: </b> {{ character['sources']['Race'] }} <br>
    <b> Class: </b> {{ character['sources']['Class'] }} <br>
    <b> Background: </b> {{ character['sources']['Background'] }}

  </body>
</html>
